---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Not found">
    <!-- PAGE CONTENT
		============================================= -->
        <!-- PAGE 404
        ============================================= -->
        <section id="page-404" class="bg--white-300 division">
            <div class="container">
                <div class="row justify-content-center">
                    <!-- 404 PAGE TEXT -->
                    <div class="col-md-9 col-lg-8">
                        <div class="page-404-txt text-center">
                            <!-- Image -->
                            <div class="rel page-404-img">
                                <img
                                    class="img-fluid height-50vh" 
                                    src="/images/oops!-404-error.svg"
                                    alt="error-404-img"
                                />
                            </div>

                            <!-- Text -->
                            <h2 class="s-48 w-700 color--dark">
                                Page Not Found
                            </h2>
                            

                           
                        </div>
                    </div>
                    <!-- END 404 PAGE TEXT -->
                </div>
                <!-- End row -->
            </div>
            <!-- End container -->
        </section>
        <!-- END PAGE 404 -->

        <!-- DIVIDER LINE -->
        <hr class="divider divider-light" />
    <!-- END PAGE CONTENT -->
</Layout>
