---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="ByteLab">
	<!-- HERO-9
			============================================= -->
	<section id="hero-9" class="blur--purple hero-section">
		<div class="container text-center">
			<!-- HERO TEXT -->
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-9">
					<div class="hero-9-txt wow fadeInUp">
						<!-- Title -->
						<h2 class="s-56 w-700">
							Show the world
							<img
								src="images/png_icons/loud-speaker.png"
								alt="icon"
							/>
							about the potential you have
						</h2>
					</div>
				</div>
			</div>
			<!-- END HERO TEXT -->

			<!-- HERO IMAGE -->
			<div class="row">
				<div class="col">
					<div class="hero-9-img wow fadeInUp">
						<img
							class="img-fluid"
							src="images/dashboard-08.png"
							alt="hero-image"
						/>
					</div>
				</div>
			</div>
			<!-- END HERO IMAGE -->
		</div>
		<!-- End container -->
	</section>
	<!-- END HERO-9 -->

	<!-- FEATURES-6
				============================================= -->
	<section id="features-6" class="py-100 features-section division">
		<div class="container">
			<!-- FEATURES-6 WRAPPER -->
			<div class="fbox-wrapper text-center">
				<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
					<!-- FEATURE BOX #1 -->
					<div class="col">
						<div class="fbox-6 fb-1 wow fadeInUp">
							<!-- Icon -->
							<div class="fbox-ico ico-55">
								<div class="shape-ico color--theme">
									<!-- Vector Icon -->
									<span class="flaticon-graphics color--coal"
									></span>

									<!-- Shape -->
									<svg
										viewBox="0 0 200 200"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z"
											transform="translate(100 100)"
										></path>
									</svg>
								</div>
							</div>
							<!-- End Icon -->

							<!-- Text -->
							<div class="fbox-txt">
								<h6 class="s-20 w-700">Market Research</h6>
								<p>
									Luctus augue egestas undo ultrice and
									quisque lacus
								</p>
							</div>
						</div>
					</div>
					<!-- END FEATURE BOX #1 -->

					<!-- FEATURE BOX #2 -->
					<div class="col">
						<div class="fbox-6 fb-2 wow fadeInUp">
							<!-- Icon -->
							<div class="fbox-ico ico-55">
								<div class="shape-ico color--theme">
									<!-- Vector Icon -->
									<span class="flaticon-idea color--coal"
									></span>

									<!-- Shape -->
									<svg
										viewBox="0 0 200 200"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z"
											transform="translate(100 100)"
										></path>
									</svg>
								</div>
							</div>
							<!-- End Icon -->

							<!-- Text -->
							<div class="fbox-txt">
								<h6 class="s-20 w-700">User Experience</h6>
								<p>
									Luctus augue egestas undo ultrice and
									quisque lacus
								</p>
							</div>
						</div>
					</div>
					<!-- END FEATURE BOX #2 -->

					<!-- FEATURE BOX #3 -->
					<div class="col">
						<div class="fbox-6 fb-3 wow fadeInUp">
							<!-- Icon -->
							<div class="fbox-ico ico-55">
								<div class="shape-ico color--theme">
									<!-- Vector Icon -->
									<span class="flaticon-graphic color--coal"
									></span>

									<!-- Shape -->
									<svg
										viewBox="0 0 200 200"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z"
											transform="translate(100 100)"
										></path>
									</svg>
								</div>
							</div>
							<!-- End Icon -->

							<!-- Text -->
							<div class="fbox-txt">
								<h6 class="s-20 w-700">Digital Marketing</h6>
								<p>
									Luctus augue egestas undo ultrice and
									quisque lacus
								</p>
							</div>
						</div>
					</div>
					<!-- END FEATURE BOX #3 -->

					<!-- FEATURE BOX #4 -->
					<div class="col">
						<div class="fbox-6 fb-4 wow fadeInUp">
							<!-- Icon -->
							<div class="fbox-ico ico-55">
								<div class="shape-ico color--theme">
									<!-- Vector Icon -->
									<span
										class="flaticon-search-engine-1 color--coal"
									></span>

									<!-- Shape -->
									<svg
										viewBox="0 0 200 200"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z"
											transform="translate(100 100)"
										></path>
									</svg>
								</div>
							</div>
							<!-- End Icon -->

							<!-- Text -->
							<div class="fbox-txt">
								<h6 class="s-20 w-700">SEO Services</h6>
								<p>
									Luctus augue egestas undo ultrice and
									quisque lacus
								</p>
							</div>
						</div>
					</div>
					<!-- END FEATURE BOX #4 -->
				</div>
				<!-- End row -->
			</div>
			<!-- END FEATURES-6 WRAPPER -->
		</div>
		<!-- End container -->
	</section>
	<!-- END FEATURES-6 -->

	<!-- DIVIDER LINE -->
	<hr class="divider" />

	<!-- TEXT CONTENT
				============================================= -->
	<section id="lnk-1" class="pt-100 ct-02 content-section division">
		<div class="container">
			<div class="row d-flex align-items-center">
				<!-- IMAGE BLOCK -->
				<div class="col-md-6">
					<div class="img-block left-column wow fadeInRight">
						<img
							class="img-fluid"
							src="images/img-07.png"
							alt="content-image"
						/>
					</div>
				</div>

				<!-- TEXT BLOCK -->
				<div class="col-md-6">
					<div class="txt-block right-column wow fadeInLeft">
						<!-- Section ID -->
						<span class="section-id">Strategies That Work</span>

						<!-- Title -->
						<h2 class="s-46 w-700">
							Right strategies & implementations
						</h2>

						<!-- Text -->
						<p>
							Sodales tempor sapien quaerat ipsum undo congue
							laoreet turpis neque auctor turpis vitae dolor
							luctus placerat magna and ligula cursus purus vitae
							purus an ipsum suscipit
						</p>

						<!-- Small Title -->
						<h5 class="s-24 w-700">Optimize your presence</h5>

						<!-- CONTENT BOX #1 -->
						<div class="cbox-1 ico-15">
							<div class="ico-wrap color--theme">
								<div class="cbox-1-ico">
									<span class="flaticon-check"></span>
								</div>
							</div>

							<div class="cbox-1-txt">
								<p>Magna dolor luctus at egestas sapien</p>
							</div>
						</div>

						<!-- CONTENT BOX #2 -->
						<div class="cbox-1 ico-15">
							<div class="ico-wrap color--theme">
								<div class="cbox-1-ico">
									<span class="flaticon-check"></span>
								</div>
							</div>

							<div class="cbox-1-txt">
								<p>
									Cursus purus suscipit vitae cubilia magnis
									volute egestas vitae sapien turpis ultrice
									auctor congue varius magnis
								</p>
							</div>
						</div>

						<!-- CONTENT BOX #3 -->
						<div class="cbox-1 ico-15">
							<div class="ico-wrap color--theme">
								<div class="cbox-1-ico">
									<span class="flaticon-check"></span>
								</div>
							</div>

							<div class="cbox-1-txt">
								<p class="mb-0">
									Volute turpis dolores and sagittis congue
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- END TEXT BLOCK -->
			</div>
			<!-- End row -->
		</div>
		<!-- End container -->
	</section>
	<!-- END TEXT CONTENT -->

	<!-- FEATURES-1
				============================================= -->
	<section id="features-1" class="pt-100 features-section division">
		<div class="container">
			<!-- SECTION TITLE -->
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-9">
					<div class="section-title mb-80">
						<!-- Title -->
						<h2 class="s-50 w-700">The Complete Solutions</h2>

						<!-- Text -->
						<p class="s-21 color--grey">
							Ligula risus auctor tempus magna feugiat lacinia.
						</p>
					</div>
				</div>
			</div>

			<!-- FEATURES-1 WRAPPER -->
			<div class="fbox-wrapper text-center">
				<div class="row row-cols-1 row-cols-md-3">
					<!-- FEATURE BOX #1 -->
					<div class="col">
						<div class="fbox-1 fb-1 wow fadeInUp">
							<!-- Image -->
							<div class="fbox-img h-175">
								<img
									class="img-fluid"
									src="images/f_01.png"
									alt="feature-image"
								/>
							</div>

							<!-- Text -->
							<div class="fbox-txt">
								<h6 class="s-22 w-700">Intuitive Dashboard</h6>
								<p>
									Luctus augue egestas undo ultrice quisque in
									lacus cursus feugiat eget ultrice laoreet
									cubilia sagittis
								</p>
							</div>
						</div>
					</div>
					<!-- END FEATURE BOX #1 -->

					<!-- FEATURE BOX #2 -->
					<div class="col">
						<div class="fbox-1 fb-2 wow fadeInUp">
							<!-- Image -->
							<div class="fbox-img h-175">
								<img
									class="img-fluid"
									src="images/f_05.png"
									alt="feature-image"
								/>
							</div>

							<!-- Text -->
							<div class="fbox-txt">
								<h6 class="s-22 w-700">
									Effortless Integration
								</h6>
								<p>
									Augue egestas luctus undo ultrice quisque in
									lacus cursus feugiat eget ultrice sagittis
									cubilia laoreet
								</p>
							</div>
						</div>
					</div>
					<!-- END FEATURE BOX #2 -->

					<!-- FEATURE BOX #3 -->
					<div class="col">
						<div class="fbox-1 fb-3 wow fadeInUp">
							<!-- Image -->
							<div class="fbox-img h-175">
								<img
									class="img-fluid"
									src="images/f_02.png"
									alt="feature-image"
								/>
							</div>

							<!-- Text -->
							<div class="fbox-txt">
								<h6 class="s-22 w-700">Advanced Analytics</h6>
								<p>
									Egestas luctus augue undo ultrice quisque in
									lacus cursus feugiat eget ultrice laoreet
									sagittis cubilia
								</p>
							</div>
						</div>
					</div>
					<!-- END FEATURE BOX #3 -->
				</div>
				<!-- End row -->
			</div>
			<!-- END FEATURES-1 WRAPPER -->
		</div>
		<!-- End container -->
	</section>
	<!-- END FEATURES-1 -->

	<!-- BOX CONTENT
				============================================= -->
	<section class="pt-100 ws-wrapper content-section">
		<div class="container">
			<div class="bc-1-wrapper bg--02 bg--fixed r-16">
				<div class="section-overlay">
					<div class="row d-flex align-items-center">
						<!-- TEXT BLOCK -->
						<div class="col-md-6 order-last order-md-2">
							<div class="txt-block left-column wow fadeInRight">
								<!-- Section ID -->
								<span class="section-id">One-Stop Solution</span
								>

								<!-- Title -->
								<h2 class="s-46 w-700">
									Smart solutions, real-time results
								</h2>

								<!-- List -->
								<ul class="simple-list">
									<li class="list-item">
										<p>
											Cursus purus suscipit vitae cubilia
											magnis volute egestas vitae sapien
											turpis sodales magna
										</p>
									</li>

									<li class="list-item">
										<p class="mb-0">
											Tempor sapien quaerat an ipsum
											laoreet purus and sapien dolor an
											ultrice ipsum aliquam congue
										</p>
									</li>
								</ul>

								<!-- Link -->
								<div class="txt-block-tra-link mt-25">
									<a
										href="#features-7"
										class="tra-link ico-20 color--theme"
									>
										The smarter way to work
										<span class="flaticon-next"></span>
									</a>
								</div>
							</div>
						</div>
						<!-- END TEXT BLOCK -->

						<!-- IMAGE BLOCK -->
						<div class="col-md-6 order-first order-md-2">
							<div class="img-block right-column wow fadeInLeft">
								<img
									class="img-fluid"
									src="images/img-06.png"
									alt="content-image"
								/>
							</div>
						</div>
					</div>
					<!-- End row -->
				</div>
				<!-- End section overlay -->
			</div>
			<!-- End content wrapper -->
		</div>
		<!-- End container -->
	</section>
	<!-- END BOX CONTENT -->

	<!-- TEXT CONTENT
				============================================= -->
	<section id="lnk-2" class="pt-90 ct-02 content-section division">
		<div class="container">
			<!-- SECTION TITLE -->
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-9">
					<div class="section-title mb-80">
						<!-- Title -->
						<h2 class="s-50 w-700">Marketing Integrations</h2>

						<!-- Text -->
						<p class="s-21 color--grey">
							Ligula risus auctor tempus magna feugiat lacinia.
						</p>
					</div>
				</div>
			</div>

			<!-- SECTION CONTENT (ROW) -->
			<div class="row d-flex align-items-center">
				<!-- IMAGE BLOCK -->
				<div class="col-md-6">
					<div class="img-block left-column wow fadeInRight">
						<img
							class="img-fluid"
							src="images/img-05.png"
							alt="content-image"
						/>
					</div>
				</div>

				<!-- TEXT BLOCK -->
				<div class="col-md-6">
					<div class="txt-block right-column wow fadeInLeft">
						<!-- Section ID -->
						<span class="section-id">Productivity Focused</span>

						<!-- Title -->
						<h2 class="s-46 w-700">
							Achieve more with better workflows
						</h2>

						<!-- Text -->
						<p>
							Sodales tempor sapien quaerat ipsum undo congue
							laoreet turpis neque auctor turpis vitae dolor
							luctus placerat magna and ligula cursus purus vitae
							purus an ipsum suscipit
						</p>

						<!-- List -->
						<ul class="simple-list">
							<li class="list-item">
								<p>
									Cursus purus suscipit vitae cubilia magnis
									volute egestas vitae sapien turpis sodales
									magna undo aoreet primis
								</p>
							</li>

							<li class="list-item">
								<p class="mb-0">
									Tempor sapien quaerat an ipsum laoreet purus
									and sapien dolor an ultrice ipsum aliquam
									undo congue dolor cursus purus congue and
									ipsum purus sapien a blandit
								</p>
							</li>
						</ul>
					</div>
				</div>
				<!-- END TEXT BLOCK -->
			</div>
			<!-- END SECTION CONTENT (ROW) -->
		</div>
		<!-- End container -->
	</section>
	<!-- END TEXT CONTENT -->

	<!-- TEXT CONTENT
				============================================= -->
	<section class="pt-100 ct-01 content-section division">
		<div class="container">
			<!-- SECTION CONTENT (ROW) -->
			<div class="row d-flex align-items-center">
				<!-- TEXT BLOCK -->
				<div class="col-md-6 order-last order-md-2">
					<div class="txt-block left-column wow fadeInRight">
						<!-- Section ID -->
						<span class="section-id">Easy Integration</span>

						<!-- Title -->
						<h2 class="s-46 w-700">
							Plug your essential tools in few clicks
						</h2>

						<!-- List -->
						<ul class="simple-list">
							<li class="list-item">
								<p>
									Cursus purus suscipit vitae cubilia magnis
									volute egestas vitae sapien turpis sodales
									magna undo aoreet primis
								</p>
							</li>

							<li class="list-item">
								<p class="mb-0">
									Tempor sapien quaerat an ipsum laoreet purus
									and sapien dolor an ultrice ipsum aliquam
									undo congue dolor cursus purus congue and
									ipsum purus sapien a blandit
								</p>
							</li>
						</ul>

						<!-- Link -->
						<div class="txt-block-tra-link mt-25">
							<a
								href="#integrations-2"
								class="tra-link ico-20 color--theme"
							>
								View all integrations <span
									class="flaticon-next"></span>
							</a>
						</div>
					</div>
				</div>
				<!-- END TEXT BLOCK -->

				<!-- IMAGE BLOCK -->
				<div class="col-md-6 order-first order-md-2">
					<div class="img-block right-column wow fadeInLeft">
						<img
							class="img-fluid"
							src="images/img-02.png"
							alt="content-image"
						/>
					</div>
				</div>
			</div>
			<!-- END SECTION CONTENT (ROW) -->
		</div>
		<!-- End container -->
	</section>
	<!-- END TEXT CONTENT -->

	<!-- TEXT CONTENT
				============================================= -->
	<section class="pt-100 ct-02 content-section division">
		<div class="container">
			<!-- SECTION CONTENT (ROW) -->
			<div class="row d-flex align-items-center">
				<!-- IMAGE BLOCK -->
				<div class="col-md-6">
					<div class="img-block left-column wow fadeInRight">
						<img
							class="img-fluid"
							src="images/img-03.png"
							alt="content-image"
						/>
					</div>
				</div>

				<!-- TEXT BLOCK -->
				<div class="col-md-6">
					<div class="txt-block right-column wow fadeInLeft">
						<!-- Title -->
						<h2 class="s-46 w-700">
							Simplify your work, amplify productivity
						</h2>

						<!-- Text -->
						<p>
							Sodales tempor sapien quaerat ipsum undo congue
							laoreet turpis neque auctor turpis vitae dolor
							luctus placerat magna and ligula cursus purus vitae
							purus an ipsum suscipit
						</p>

						<!-- Small Title -->
						<h5 class="s-24 w-700">Get more done in less time</h5>

						<!-- CONTENT BOX #1 -->
						<div class="cbox-1 ico-15">
							<div class="ico-wrap color--theme">
								<div class="cbox-1-ico">
									<span class="flaticon-check"></span>
								</div>
							</div>

							<div class="cbox-1-txt">
								<p>Magna dolor luctus at egestas sapien</p>
							</div>
						</div>

						<!-- CONTENT BOX #2 -->
						<div class="cbox-1 ico-15">
							<div class="ico-wrap color--theme">
								<div class="cbox-1-ico">
									<span class="flaticon-check"></span>
								</div>
							</div>

							<div class="cbox-1-txt">
								<p>
									Cursus purus suscipit vitae cubilia magnis
									volute egestas vitae sapien turpis ultrice
									auctor congue varius magnis
								</p>
							</div>
						</div>

						<!-- CONTENT BOX #3 -->
						<div class="cbox-1 ico-15">
							<div class="ico-wrap color--theme">
								<div class="cbox-1-ico">
									<span class="flaticon-check"></span>
								</div>
							</div>

							<div class="cbox-1-txt">
								<p class="mb-0">
									Volute turpis dolores and sagittis congue
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- END TEXT BLOCK -->
			</div>
			<!-- END SECTION CONTENT (ROW) -->
		</div>
		<!-- End container -->
	</section>
	<!-- END TEXT CONTENT -->

	<!-- BOX CONTENT
				============================================= -->
	<section id="lnk-3" class="pt-100 ws-wrapper content-section">
		<div class="container">
			<div
				class="bc-5-wrapper bg--black-400 pattern-04 hidd bg--scroll r-16"
			>
				<div class="section-overlay">
					<!-- SECTION TITLE -->
					<div class="row justify-content-center">
						<div class="col-md-11 col-lg-9">
							<div
								class="section-title color--white wow fadeInUp mb-60"
							>
								<!-- Title -->
								<h2 class="s-50 w-700">
									Build a customer-centric marketing strategy
								</h2>

								<!-- Text -->
								<p class="p-xl">
									Aliquam a augue suscipit luctus neque purus
									ipsum neque diam dolor primis libero tempus,
									blandit and cursus varius and magnis sodales
								</p>
							</div>
						</div>
					</div>

					<!-- IMAGE BLOCK -->
					<div class="row justify-content-center">
						<div class="col">
							<div
								class="bc-5-img bc-5-tablet img-block-hidden video-preview wow fadeInUp"
							>
								<!-- Play Icon -->
								<a
									class="video-popup1"
									href="https://www.youtube.com/embed/SZEflIVnhH8"
								>
									<div
										class="video-btn video-btn-xl bg--theme"
									>
										<div class="video-block-wrapper">
											<span class="flaticon-play-button"
											></span>
										</div>
									</div>
								</a>

								<!-- Preview Image -->
								<img
									class="img-fluid"
									src="images/tablet-05.png"
									alt="content-image"
								/>
							</div>
						</div>
					</div>
				</div>
				<!-- End section overlay -->
			</div>
			<!-- End content wrapper -->
		</div>
		<!-- End container -->
	</section>
	<!-- END BOX CONTENT -->

	<!-- TEXT CONTENT
				============================================= -->
	<section class="pt-100 ct-13 content-section division">
		<div class="container">
			<!-- SECTION CONTENT (ROW) -->
			<div class="row mb-60">
				<!-- IMAGE BLOCK -->
				<div class="col-md-6">
					<div class="img-block left-column wow fadeInRight">
						<img
							class="img-fluid"
							src="images/img-01.png"
							alt="content-image"
						/>
					</div>
				</div>

				<!-- TEXT BLOCK -->
				<div class="col-md-6">
					<div class="txt-block right-column wow fadeInLeft">
						<!-- Title -->
						<h5 class="s-24 w-700">Automate data collection</h5>

						<!-- Text -->
						<p>
							Sodales tempor sapien quaerat ipsum undo congue
							laoreet turpis neque auctor turpis vitae dolor
							luctus placerat
						</p>

						<!-- List -->
						<ul class="simple-list">
							<li class="list-item">
								<p>
									Tempor sapien quaerat an ipsum laoreet purus
									and sapien dolor an ultrice ipsum aliquam
									undo congue dolor cursus
								</p>
							</li>

							<li class="list-item">
								<p class="mb-0">
									Cursus purus suscipit vitae cubilia magnis
									volute egestas vitae sapien turpis ultrice
									auctor congue magna placerat
								</p>
							</li>
						</ul>
					</div>
				</div>
				<!-- END TEXT BLOCK -->
			</div>
			<!-- END SECTION CONTENT (ROW) -->

			<!-- SECTION CONTENT (ROW) -->
			<div class="row">
				<!-- TEXT BLOCK -->
				<div class="col-md-6">
					<div class="txt-block left-column wow fadeInRight">
						<!-- Title -->
						<h5 class="s-24 w-700">
							Increase your productivity with workflow automation
						</h5>

						<!-- Text -->
						<p class="mb-0">
							Tempor sodales sapien quaerat ipsum undo congue
							laoreet turpis neque auctor turpis vitae dolor
							luctus placerat magna and ligula cursus purus vitae
							purus an ipsum suscipit
						</p>
					</div>
				</div>
				<!-- END TEXT BLOCK -->

				<!-- TEXT BLOCK -->
				<div class="col-md-6">
					<div class="txt-block ml-block right-column wow fadeInLeft">
						<!-- Title -->
						<h5 class="s-24 w-700">Integrate with popular tools</h5>

						<!-- Text -->
						<p class="mb-0">
							Nemo ipsam egestas volute turpis egestas ipsum and
							purus sapien ultrice an aliquam quaerat ipsum augue
							turpis sapien cursus congue magna purus quaerat at
							ligula purus egestas magna cursus undo varius purus
							magnis sapien quaerat
						</p>
					</div>
				</div>
				<!-- END TEXT BLOCK -->
			</div>
			<!-- END SECTION CONTENT (ROW) -->
		</div>
		<!-- End container -->
	</section>
	<!-- END TEXT CONTENT -->

	<!-- INTEGRATIONS-2
				============================================= -->
	<section id="integrations-2" class="pt-100 integrations-section">
		<div class="container">
			<!-- INTEGRATIONS-2 WRAPPER -->
			<div class="integrations-2-wrapper bg--white-400 r-12 text-center">
				<!-- SECTION TITLE -->
				<div class="row justify-content-center">
					<div class="col-md-10 col-lg-9">
						<div class="section-title mb-60">
							<!-- Title -->
							<h2 class="s-50 w-700">
								Easy integrate all your essential tools
							</h2>

							<!-- Text -->
							<p class="s-21 color--grey">
								Ligula risus auctor tempus magna feugiat
								lacinia.
							</p>
						</div>
					</div>
				</div>

				<!-- TOOLS ROW -->
				<div class="row row-cols-1 row-cols-sm-3 row-cols-md-5">
					<!-- TOOL #1 -->
					<div class="col">
						<a href="#" class="in_tool it-1 r-12 wow fadeInUp">
							<!-- Logo -->
							<div
								class="in_tool_logo ico-65 bg--white-100 block-shadow r-12"
							>
								<img
									class="img-fluid"
									src="images/png_icons/tool-1.png"
									alt="brand-logo"
								/>
							</div>

							<!-- Title -->
							<h6 class="s-17 w-700">Zapier</h6>
						</a>
					</div>
					<!-- END TOOL #1 -->

					<!-- TOOL #2 -->
					<div class="col">
						<a href="#" class="in_tool it-2 r-12 wow fadeInUp">
							<!-- Logo -->
							<div
								class="in_tool_logo ico-65 bg--white-100 block-shadow r-12"
							>
								<img
									class="img-fluid"
									src="images/png_icons/tool-2.png"
									alt="brand-logo"
								/>
							</div>

							<!-- Title -->
							<h6 class="s-17 w-700">Google Analytics</h6>
						</a>
					</div>
					<!-- END TOOL #2 -->

					<!-- TOOL #3 -->
					<div class="col">
						<a href="#" class="in_tool it-3 r-12 wow fadeInUp">
							<!-- Logo -->
							<div
								class="in_tool_logo ico-65 bg--white-100 block-shadow r-12"
							>
								<img
									class="img-fluid"
									src="images/png_icons/tool-3.png"
									alt="brand-logo"
								/>
							</div>

							<!-- Title -->
							<h6 class="s-17 w-700">Amplitude</h6>
						</a>
					</div>
					<!-- END TOOL #3 -->

					<!-- TOOL #4 -->
					<div class="col">
						<a href="#" class="in_tool it-4 r-12 wow fadeInUp">
							<!-- Logo -->
							<div
								class="in_tool_logo ico-65 bg--white-100 block-shadow r-12"
							>
								<img
									class="img-fluid"
									src="images/png_icons/tool-4.png"
									alt="brand-logo"
								/>
							</div>

							<!-- Title -->
							<h6 class="s-17 w-700">Hubspot</h6>
						</a>
					</div>
					<!-- END TOOL #4 -->

					<!-- TOOL #5 -->
					<div class="col">
						<a href="#" class="in_tool it-5 r-12 wow fadeInUp">
							<!-- Logo -->
							<div
								class="in_tool_logo ico-65 bg--white-100 block-shadow r-12"
							>
								<img
									class="img-fluid"
									src="images/png_icons/tool-5.png"
									alt="brand-logo"
								/>
							</div>

							<!-- Title -->
							<h6 class="s-17 w-700">MailChimp</h6>
						</a>
					</div>
					<!-- END TOOL #5 -->
				</div>
				<!-- END TOOLS ROW -->

				<!-- MORE BUTTON -->
				<div class="row">
					<div class="col">
						<div class="more-btn text-center mt-60 wow fadeInUp">
							<a
								href="integrations.html"
								class="btn btn--tra-grey hover--theme"
								>View all integrations</a
							>
						</div>
					</div>
				</div>
			</div>
			<!-- END INTEGRATIONS-2 WRAPPER -->
		</div>
		<!-- End container -->
	</section>
	<!-- END INTEGRATIONS-2 -->

	<!-- TEXT CONTENT
				============================================= -->
	<section class="pt-100 ct-04 content-section division">
		<div class="container">
			<!-- SECTION TITLE -->
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-9">
					<div class="section-title mb-80">
						<!-- Section ID -->
						<span class="section-id">Endless Possibilities</span>

						<!-- Title -->
						<h2 class="s-50 w-700">
							Transform your workflow, transform your business
						</h2>

						<!-- Text -->
						<p class="s-21 color--grey">
							Ligula risus auctor tempus magna feugiat lacinia.
						</p>
					</div>
				</div>
			</div>

			<!-- SECTION CONTENT (ROW) -->
			<div class="row d-flex align-items-center">
				<!-- TEXT BLOCK -->
				<div class="col-md-6 order-last order-md-2">
					<div class="txt-block left-column wow fadeInRight">
						<!-- CONTENT BOX #1 -->
						<div class="cbox-4">
							<!-- Icon & Title -->
							<div class="box-title">
								<span class="flaticon-paper-sizes color--theme"
								></span>
								<h5 class="s-24 w-700">Built-in Automation</h5>
							</div>

							<!-- Text -->
							<div class="cbox-4-txt">
								<p>
									Quaerat sodales sapien blandit purus primis
									purus ipsum cubilia laoreet augue luctus and
									magna dolor luctus egestas an ipsum sapien
									primis vitae volute and magna turpis
								</p>
							</div>
						</div>
						<!-- END CONTENT BOX #1 -->

						<!-- CONTENT BOX #2 -->
						<div class="cbox-4">
							<!-- Icon & Title -->
							<div class="box-title">
								<span class="flaticon-layers-1 color--theme"
								></span>
								<h5 class="s-24 w-700">Automatic Workflows</h5>
							</div>

							<!-- Text -->
							<div class="cbox-4-txt">
								<p>
									Quaerat sodales sapien blandit purus primis
									purus ipsum cubilia laoreet augue luctus and
									magna dolor luctus egestas an ipsum sapien
									primis vitae volute and magna turpis
								</p>
							</div>
						</div>
						<!-- END CONTENT BOX #2 -->

						<!-- CONTENT BOX #3 -->
						<div class="cbox-4">
							<!-- Icon & Title -->
							<div class="box-title">
								<span class="flaticon-pie-chart color--theme"
								></span>
								<h5 class="s-24 w-700">Real-time Analytics</h5>
							</div>

							<!-- Text -->
							<div class="cbox-4-txt">
								<p class="mb-0">
									Quaerat sodales sapien blandit purus primis
									purus ipsum cubilia laoreet augue luctus and
									magna dolor luctus egestas an ipsum sapien
									primis vitae volute and magna turpis
								</p>
							</div>
						</div>
						<!-- END CONTENT BOX #3 -->
					</div>
				</div>
				<!-- END TEXT BLOCK -->

				<!-- IMAGE BLOCK -->
				<div class="col-md-6 order-first order-md-2">
					<div class="img-block wow fadeInLeft">
						<img
							class="img-fluid"
							src="images/tablet-01.png"
							alt="content-image"
						/>
					</div>
				</div>
			</div>
			<!-- END SECTION CONTENT (ROW) -->
		</div>
		<!-- End container -->
	</section>
	<!-- END TEXT CONTENT -->

	<!-- BOX CONTENT
				============================================= -->
	<section class="pt-100 ws-wrapper content-section">
		<div class="container">
			<div class="bc-1-wrapper bg--white-400 bg--fixed r-16">
				<div class="section-overlay">
					<div class="row d-flex align-items-center">
						<!-- IMAGE BLOCK -->
						<div class="col-md-6">
							<div class="img-block left-column wow fadeInRight">
								<img
									class="img-fluid"
									src="images/img-08.png"
									alt="content-image"
								/>
							</div>
						</div>

						<!-- TEXT BLOCK -->
						<div class="col-md-6">
							<div class="txt-block right-column wow fadeInLeft">
								<!-- TEXT BOX -->
								<div class="txt-box">
									<!-- Title -->
									<h5 class="s-24 w-700">
										Advanced Analytics Review
									</h5>

									<!-- Text -->
									<p>
										Sodales tempor sapien quaerat congue
										eget ipsum laoreet turpis neque auctor
										vitae eros dolor luctus placerat magna
										ligula cursus and purus pretium
									</p>
								</div>
								<!-- END TEXT BOX -->

								<!-- TEXT BOX -->
								<div class="txt-box mb-0">
									<!-- Title -->
									<h5 class="s-24 w-700">
										Email Marketing Campaigns
									</h5>

									<!-- List -->
									<ul class="simple-list">
										<li class="list-item">
											<p>
												Tempor sapien volute turpis
												ipsum laoreet purus and sapien
												dolor diam ultrice ipsum aliquam
												undo congue dolor cursus tempor
												sapien quaerat
											</p>
										</li>

										<li class="list-item">
											<p class="mb-0">
												Cursus purus suscipit vitae
												cubilia magnis volute egestas
												vitae sapien a turpis ultrice
												auctor ipsum
											</p>
										</li>
									</ul>
								</div>
								<!-- END TEXT BOX -->
							</div>
						</div>
						<!-- END TEXT BLOCK -->
					</div>
					<!-- End row -->
				</div>
				<!-- End section overlay -->
			</div>
			<!-- End content wrapper -->
		</div>
		<!-- End container -->
	</section>
	<!-- END BOX CONTENT -->

	<!-- BANNER-7
				============================================= -->
	<section id="banner-7" class="banner-section">
		<div class="banner-overlay py-100">
			<div class="container">
				<!-- BANNER-7 WRAPPER -->
				<div class="banner-7-wrapper">
					<div class="row justify-content-center">
						<!-- BANNER-7 TEXT -->
						<div class="col-md-8">
							<div class="banner-7-txt text-center">
								<!-- Title -->
								<h2 class="s-48 w-700">
									Grow your business with integrated marketing
									tools
								</h2>

								<!-- Buttons -->
								<div class="btns-group">
									<a
										href="#hero-9"
										class="btn r-04 btn--theme hover--theme"
										>Get srarted - it's free
									</a>
									<a
										href="#faqs-3"
										class="btn r-04 btn--tra-black hover--theme"
										>Read the FAQs</a
									>
								</div>

								<!-- Button Text -->
							</div>
						</div>
					</div>
					<!-- End row -->
				</div>
				<!-- END BANNER-7 WRAPPER -->
			</div>
			<!-- End container -->
		</div>
		<!-- End banner overlay -->
	</section>
	<!-- END BANNER-7 -->

	<!-- DIVIDER LINE -->
	<hr class="divider" />
</Layout>
