---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="ByteLab - Research to Revolutionize">
	<!-- HERO-9
			============================================= -->
	<section id="hero-9" class="blur--purple hero-section">
		<div class="container text-center">
			<!-- HERO TEXT -->
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-10">
					<div class="hero-10-txt wow fadeInUp">
						<!-- Title -->
						<h2 class="s-48 w-700">
							Transforming Problems into Solutions Through
							Research Excellence
						</h2>
					</div>
				</div>
			</div>
			<!-- END HERO TEXT -->
			<!-- src="/images/dashboard-08.png" -->

			<!-- HERO IMAGE -->
			<div class="row">
				<div class="col">
					<div class="wow fadeInUp">
						<img
							class="img-fluid"
							src="/images/data-extraction.svg"
							alt="hero-image"
						/>
					</div>
				</div>
			</div>
			<!-- END HERO IMAGE -->
		</div>
		<!-- End container -->
	</section>
	<!-- END HERO-9 -->

	<!-- FEATURES-6
				============================================= -->
	<section id="features-6" class="py-100 features-section division">
		<div class="container">
			<!-- FEATURES-6 WRAPPER -->
			<div class="fbox-wrapper text-center">
				<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
					<!-- FEATURE BOX #1 -->
					<div class="col">
						<div class="fbox-6 fb-1 wow fadeInUp">
							<!-- Icon -->
							<div class="fbox-ico ico-55">
								<div class="shape-ico color--theme">
									<!-- Vector Icon -->
									<span class="flaticon-global color--coal"
									></span>

									<!-- Shape -->
									<svg
										viewBox="0 0 200 200"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z"
											transform="translate(100 100)"
										></path>
									</svg>
								</div>
							</div>
							<!-- End Icon -->

							<!-- Text -->
							<div class="fbox-txt">
								<h6 class="s-20 w-700">
									<a href="/services/#document-digitization"
										>Document Digitization</a
									>
								</h6>
								<p>
									Convert handwritten and printed documents
									into searchable formats
								</p>
								<a href="/services/#document-digitization" class="tra-link ico-20 color--theme">
									Explore
									<span class="flaticon-next"></span>
								</a>
							</div>
						</div>
					</div>
					<!-- END FEATURE BOX #1 -->

					<!-- FEATURE BOX #2 -->
					<div class="col">
						<div class="fbox-6 fb-2 wow fadeInUp">
							<!-- Icon -->
							<div class="fbox-ico ico-55">
								<div class="shape-ico color--theme">
									<!-- Vector Icon -->
									<span class="flaticon-hosting color--coal"
									></span>

									<!-- Shape -->
									<svg
										viewBox="0 0 200 200"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z"
											transform="translate(100 100)"
										></path>
									</svg>
								</div>
							</div>
							<!-- End Icon -->

							<!-- Text -->
							<div class="fbox-txt">
								<h6 class="s-20 w-700">
									<a href="/services/#document-centralization"
										>Document Centralization</a
									>
								</h6>
								<p>
									Consolidate your documents from multiple
									platforms into one centralized hub.
								</p>
								<a href="/services/#document-centralization" class="tra-link ico-20 color--theme">
									Explore
									<span class="flaticon-next"></span>
								</a>
							</div>
						</div>
					</div>
					<!-- END FEATURE BOX #2 -->

					<!-- FEATURE BOX #3 -->
					<div class="col">
						<div class="fbox-6 fb-3 wow fadeInUp">
							<!-- Icon -->
							<div class="fbox-ico ico-55">
								<div class="shape-ico color--theme">
									<!-- Vector Icon -->
									<span class="flaticon-search-engine-1 color--coal"
									></span>

									<!-- Shape -->
									<svg
										viewBox="0 0 200 200"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z"
											transform="translate(100 100)"
										></path>
									</svg>
								</div>
							</div>
							<!-- End Icon -->

							<!-- Text -->
							<div class="fbox-txt">
								<h6 class="s-20 w-700">
									<a href="/services/#document-understanding"
										>Document Understanding</a
									>
								</h6>
								<p>
									Empowering you to ask questions and gain
									insights from diverse documents
								</p>
								<a href="/services/#document-understanding" class="tra-link ico-20 color--theme">
									Explore
									<span class="flaticon-next"></span>
								</a>
							</div>
						</div>
					</div>
					<!-- END FEATURE BOX #3 -->

					<!-- FEATURE BOX #4 -->
					<div class="col">
						<div class="fbox-6 fb-4 wow fadeInUp">
							<!-- Icon -->
							<div class="fbox-ico ico-55">
								<div class="shape-ico color--theme">
									<!-- Vector Icon -->
									<span
										class="flaticon-analytics-1 color--coal"
									></span>

									<!-- Shape -->
									<svg
										viewBox="0 0 200 200"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z"
											transform="translate(100 100)"
										></path>
									</svg>
								</div>
							</div>
							<!-- End Icon -->

							<!-- Text -->
							<div class="fbox-txt">
								<h6 class="s-20 w-700">
									<a href="/services/#document-analytics"
										>Document Analytics</a
									>
								</h6>
								<p>
									Transforming documents into actionable
									intelligence for strategic moves
								</p>
								<a href="/services/#document-analytics" class="tra-link ico-20 color--theme">
									Explore
									<span class="flaticon-next"></span>
								</a>
							</div>
						</div>
					</div>
					<!-- END FEATURE BOX #4 -->
				</div>
				<!-- End row -->
			</div>
			<!-- END FEATURES-6 WRAPPER -->
		</div>
		<!-- End container -->
	</section>
	<!-- END FEATURES-6 -->

	<!-- DIVIDER LINE -->
	<hr class="divider" />

	<!-- FEATURES-1
				============================================= -->
	<section id="features-1" class="pt-100 features-section division">
		<div class="container">
			<!-- SECTION TITLE -->
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-9">
					<div class="section-title mb-80">
						<!-- Title -->
						<h2 class="s-50 w-700">The Complete Solutions</h2>

						<!-- Text -->
						<p class="s-21 color--grey">
							Designed to streamline your document digitization
							and workflow processes
						</p>
					</div>
				
				</div>
			</div>

			<!-- FEATURES-1 WRAPPER -->
			<div class="fbox-wrapper text-center">
				<div class="row row-cols-1 row-cols-md-3">
					<!-- FEATURE BOX #1 -->
					<div class="col">
						<div class="fbox-1 fb-1 wow fadeInUp">
							<!-- Image -->
							<div class="fbox-img h-175">
								<img
									class="img-fluid"
									src="/images/server-pana.svg"
									alt="feature-image"
								/>
							</div>

							<!-- Text -->
							<div class="fbox-txt">
								<h6 class="s-22 w-700">Central Hub</h6>
								<p>
									Bring all your documents together in one
									centralized hub and effortlessly add more
									using our intuitive web-app
								</p>
							</div>
						</div>
					</div>
					<!-- END FEATURE BOX #1 -->

					<!-- FEATURE BOX #2 -->
					<div class="col">
						<div class="fbox-1 fb-2 wow fadeInUp">
							<!-- Image -->
							<div class="fbox-img h-175">
								<img
									class="img-fluid"
									src="/images/analytics-cuate.svg"
									alt="feature-image"
								/>
							</div>

							<!-- Text -->
							<div class="fbox-txt">
								<h6 class="s-22 w-700">Advanced Analytics</h6>
								<p>
									Extract valuable insights and key points
									from your collection of documents through
									intuitive questioning and semantic search
								</p>
							</div>
						</div>
					</div>
					<!-- END FEATURE BOX #2 -->

					<!-- FEATURE BOX #3 -->
					<div class="col">
						<div class="fbox-1 fb-3 wow fadeInUp">
							<!-- Image -->
							<div class="fbox-img h-175">
								<img
									class="img-fluid"
									src="/images/dashboard-cuate.svg"
									alt="feature-image"
								/>
							</div>

							<!-- Text -->
							<div class="fbox-txt">
								<h6 class="s-22 w-700">Intuitive Dashboard</h6>
								<p>
									Access all the key points that matter for
									your business in one centralized dashboard,
									extracted from your collection of documents
								</p>
							</div>
						</div>
					</div>
					<!-- END FEATURE BOX #3 -->
				</div>
				<!-- End row -->
			</div>
			<!-- END FEATURES-1 WRAPPER -->
		</div>
		<!-- End container -->
	</section>
	<!-- END FEATURES-1 -->

	<!-- BOX CONTENT
				============================================= -->
	<section class="pt-100 ws-wrapper content-section">
		<div class="container">
			<div class="bc-1-wrapper bg--white-400 bg--fixed r-16">
				<div class="section-overlay">
					<div class="row d-flex align-items-center">
						<!-- TEXT BLOCK -->
						<div class="col-md-6 order-last order-md-2">
							<div class="txt-block left-column wow fadeInRight">
								<!-- Section ID -->
								<span class="section-id color--blue-400"
									>One-Stop Solution</span
								>

								<!-- Title -->
								<h2 class="s-46 w-700">
									Digitize All Types of Documents
								</h2>

								<p>
									<b>Versatile Document Compatibility:</b>
									Our cutting-edge technology enables the digitization
									of various document types, including paper documents,
									PDFs, images, and even handwritten notes.
								</p>

								<p class="mb-0">
									<b
										>Enhanced Accessibility and
										Searchability:</b
									>
									With our digitization solutions, you can easily
									access and search through your digitized documents.
									Effortlessly retrieve specific information, extract
									key insights, and eliminate time-consuming manual
									searches.
								</p>
							</div>
						</div>
						<!-- END TEXT BLOCK -->

						<!-- IMAGE BLOCK -->
						<div class="col-md-6 order-first order-md-2">
							<div class="img-block right-column wow fadeInLeft">
								<img
									class="img-fluid"
									src="/images/digital-personal-files-amico.svg"
									alt="content-image"
								/>
							</div>
						</div>
					</div>
					<!-- End row -->
				</div>
				<!-- End section overlay -->
			</div>
			<!-- End content wrapper -->
		</div>
		<!-- End container -->
	</section>
	<!-- END BOX CONTENT -->

	<!-- TEXT CONTENT
				============================================= -->
	<section id="lnk-2" class="pt-90 ct-02 content-section division">
		<div class="container">
			<!-- SECTION TITLE -->
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-9">
					<div class="section-title mb-80">
						<!-- Title -->
						<h2 class="s-50 w-700">Data Security and Privacy</h2>

						<!-- Text -->
						<p class="s-21 color--grey">
							Privacy-focused data security ensures that your
							digitized documents are accessible exclusively by
							you
						</p>
					</div>
				</div>
			</div>

			<!-- SECTION CONTENT (ROW) -->
			<div class="row d-flex align-items-center">
				<!-- IMAGE BLOCK -->
				<div class="col-md-6">
					<div class="img-block left-column wow fadeInRight">
						<img
							class="img-fluid"
							src="/images/hidden-pana.svg"
							alt="content-image"
						/>
					</div>
				</div>

				<!-- TEXT BLOCK -->
				<div class="col-md-6">
					<div class="txt-block right-column wow fadeInLeft">
						<!-- Section ID -->
						<span class="section-id color--blue-400"
							>Privacy Focused</span
						>

						<!-- Title -->
						<h2 class="s-46 w-700">Safeguarding Your Documents</h2>

						<!-- Text -->
						<p>
							At <b>ByteLab</b>, we prioritize the privacy and
							security of your digitized documents. Our
							privacy-focused data security measures provides you
							with peace of mind and preserves the confidentiality
							of your information.
						</p>

						<p>
							We use privacy controls and encryption protocol to
							safeguard your digitized documents, ensuring that
							only authorized individuals can access them.
						</p>

						<p class="mb-0">
							For any privacy-related queries or concerns, please
							don't hesitate to reach out to us at <a
								class="h-link a2-txt-author"
								href="mailto: info@bytelab.ai"
								>info@bytelab.ai</a
							>
							. Our dedicated team is here to assist you and address
							any questions you may have regarding the privacy of your
							digitized documents. We value your privacy and are committed
							to providing transparent and reliable information to
							ensure your peace of mind. Feel free to contact us, and
							we'll be more than happy to assist you.
						</p>
					</div>
				</div>
				<!-- END TEXT BLOCK -->
			</div>
			<!-- END SECTION CONTENT (ROW) -->
		</div>
		<!-- End container -->
	</section>
	<!-- END TEXT CONTENT -->

	<!-- BOX CONTENT
				============================================= -->
	<section id="lnk-3" class="pt-100 ws-wrapper content-section">
		<div class="container">
			<div
				class="bc-5-wrapper bg--black-400 pattern-04 hidd bg--scroll r-16"
			>
				<div class="section-overlay">
					<!-- SECTION TITLE -->
					<div class="row justify-content-center">
						<div class="col-md-11 col-lg-9">
							<div
								class="section-title color--white wow fadeInUp mb-60"
							>
								<!-- Title -->
								<h2 class="s-50 w-700">
									Build a customer-centric Business AI
									Solutions
								</h2>

								<!-- Text -->
								<p class="p-xl">
									Unlock valuable insights, automate
									processes, and stay ahead of the competition
									in today's digital landscape.
								</p>
							</div>
						</div>
					</div>

					<!-- IMAGE BLOCK -->
					<div class="row justify-content-center">
						<div class="justify-content-center row">
							<div
								class="bc-5-img bc-5-tablet img-block-hidden w-75 wow fadeInUp"
							>
								<!-- Preview Image -->
								<img
									class="img-fluid"
									src="/images/digital-transformation.svg"
									alt="content-image"
								/>
							</div>
						</div>
					</div>
				</div>
				<!-- End section overlay -->
			</div>
			<!-- End content wrapper -->
		</div>
		<!-- End container -->
	</section>
	<!-- END BOX CONTENT -->

	<!--	============================================= -->
	<section class="pt-100 ct-04 content-section division">
		<div class="container">
			<!-- SECTION TITLE -->
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-9">
					<div class="section-title mb-80">
						<!-- Section ID -->
						<span class="section-id color--blue-400"
							>Endless Possibilities</span
						>

						<!-- Title -->
						<h2 class="s-50 w-700">
							Transform your workflow, transform your business
						</h2>

						<!-- Text -->
						<p class="s-21 color--grey">
							Transforming businesses by digitizing paper
							workflows for streamlined operations
						</p>
					</div>
				</div>
			</div>

			<!-- SECTION CONTENT (ROW) -->
			<div class="row d-flex align-items-center">
				<!-- TEXT BLOCK -->
				<div class="col-md-6 order-last order-md-2">
					<div class="txt-block left-column wow fadeInRight">
						<!-- CONTENT BOX #1 -->
						<div class="cbox-4">
							<!-- Icon & Title -->
							<div class="box-title">
								<span class="flaticon-paper-sizes color--theme"
								></span>
								<h5 class="s-24 w-700">Built-in Automation</h5>
							</div>

							<!-- Text -->
							<div class="cbox-4-txt">
								<p>
									When our AI algorithms detect specific
									criteria, they can automatically create
									events that trigger predefined routines,
									executing tasks without the need for human
									interference.
								</p>
							</div>
						</div>
						<!-- END CONTENT BOX #1 -->

						<!-- CONTENT BOX #2 -->
						<div class="cbox-4">
							<!-- Icon & Title -->
							<div class="box-title">
								<span class="flaticon-layers-1 color--theme"
								></span>
								<h5 class="s-24 w-700">Real-time Analytics</h5>
							</div>

							<!-- Text -->
							<div class="cbox-4-txt">
								<p>
									Monitor your workflow in real time, ensuring
									that no activity faces delays or
									bottlenecks. With our interactive dashboard,
									you can track the progress of tasks,
									identify potential roadblocks, and take
									proactive measures to keep your operations
									running smoothly.
								</p>
							</div>
						</div>
						<!-- END CONTENT BOX #2 -->

						<!-- CONTENT BOX #3 -->
						<div class="cbox-4">
							<!-- Icon & Title -->
							<div class="box-title">
								<span class="flaticon-pie-chart color--theme"
								></span>
								<h5 class="s-24 w-700">Maximize Efficiency</h5>
							</div>

							<!-- Text -->
							<div class="cbox-4-txt">
								<p class="mb-0">
									With digital workflows you can easily
									identify areas for improvement, automate
									repetitive tasks, and enhance collaboration,
									leading to increased productivity and cost
									savings.
								</p>
							</div>
						</div>
						<!-- END CONTENT BOX #3 -->
					</div>
				</div>
				<!-- END TEXT BLOCK -->

				<!-- IMAGE BLOCK -->
				<div class="col-md-6 order-first order-md-2">
					<div class="img-block wow fadeInLeft">
						<img
							class="img-fluid"
							src="/images/working-remotely.svg"
							alt="content-image"
						/>
					</div>
				</div>
			</div>
			<!-- END SECTION CONTENT (ROW) -->
		</div>
		<!-- End container -->
	</section>
	<!-- END TEXT CONTENT -->

	<!-- BOX CONTENT
				============================================= -->
	<section class="pt-100 ws-wrapper content-section">
		<div class="container">
			<div class="bc-1-wrapper bg--white-400 bg--fixed r-16">
				<div class="section-overlay">
					<div class="row d-flex align-items-center">
						<!-- IMAGE BLOCK -->
						<div class="col-md-6">
							<div class="img-block left-column wow fadeInRight">
								<img
									class="img-fluid"
									src="/images/data-points.svg"
									alt="content-image"
								/>
								<!-- img-08.png -->
							</div>
						</div>

						<!-- TEXT BLOCK -->
						<div class="col-md-6">
							<div class="txt-block right-column wow fadeInLeft">
								<!-- TEXT BOX -->
								<div class="txt-box">
									<!-- Title -->
									<h5 class="s-24 w-700">
										Advanced Documents Analytics
									</h5>

									<!-- Text -->
									<p>
										Say goodbye to time-consuming manual
										analysis and let our platform handle the
										heavy lifting for you.
									</p>
								</div>
								<!-- END TEXT BOX -->

								<!-- TEXT BOX -->
								<div class="txt-box mb-0">
									<!-- Title -->
									<h5 class="s-24 w-700">
										Interactive Questioning
									</h5>

									<!-- List -->
									<ul class="simple-list">
										<li class="list-item">
											<p>
												Our intelligent system employs
												advanced natural language
												processing techniques to
												understand your queries and
												provide relevant information
												from the analyzed corpus.
											</p>
										</li>

										<li class="list-item">
											<p class="mb-0">
												Say goodbye to information
												overload and effortlessly
												uncover the knowledge hidden
												within your documents.
											</p>
										</li>
									</ul>
									<p class="mt-10">
										Gain valuable insights, make data-driven
										decisions, and enhance your productivity
										like never before.
									</p>
								</div>
								<!-- END TEXT BOX -->
							</div>
						</div>
						<!-- END TEXT BLOCK -->
					</div>
					<!-- End row -->
				</div>
				<!-- End section overlay -->
			</div>
			<!-- End content wrapper -->
		</div>
		<!-- End container -->
	</section>
	<!-- END BOX CONTENT -->

	<!-- BANNER-7
				============================================= -->
	<section id="banner-7" class="banner-section">
		<div class="banner-overlay py-100">
			<div class="container">
				<!-- BANNER-7 WRAPPER -->
				<div class="banner-7-wrapper">
					<div class="row justify-content-center">
						<!-- BANNER-7 TEXT -->
						<div class="col-md-8">
							<div class="banner-7-txt text-center">
								<!-- Title -->
								<h2 class="s-48 w-700">
									Grow your business with research driven AI
									tools
								</h2>
							
								<!-- Buttons -->
								<div class="btns-group">
									<a
										href="/contacts"
										class="btn r-04 btn--theme hover--theme"
										>Contact ByteLab
									</a>
								</div>

								<!-- Button Text -->
							</div>
						</div>
						
						
					</div>
					<!-- End row -->
				</div>
				<!-- END BANNER-7 WRAPPER -->
			</div>
			<!-- End container -->
		</div>
		<!-- End banner overlay -->
	</section>
	<!-- END BANNER-7 -->

	<!-- DIVIDER LINE -->
	<hr class="divider" />
</Layout>
