<div class="secondarybar-wrap bb-gray">
    <div class="container secondarybar-container">
        <div class="secondarybar">
            <div class="row secondarybar-row align-items-center">
                <div class="col-auto">
                    <div class="header-module">
                        <div class="iconbox iconbox-inline iconbox-xs">
                            <div class="iconbox-icon-wrap">
                                <span class="iconbox-icon-container">
                                    <i class="icon-ion-ios-call"></i>
                                </span>
                            </div>
                            <!-- /.iconbox-icon-wrap -->
                            <h3 class="font-size-14">Phone: +91-989-384-4539, +91-989-337-0027</h3>
                        </div>
                        <!-- /.iconbox -->
                    </div>
                    <!-- /.header-module -->

                    <div class="header-module">
                        <div class="iconbox iconbox-inline iconbox-xs">
                            <div class="iconbox-icon-wrap">
                                <span class="iconbox-icon-container">
                                    <i class="icon-md-mail"></i>
                                </span>
                            </div>
                            <!-- /.iconbox-icon-wrap -->
                            <h3 class="font-size-14">Mail: info@bytelab.ai</h3>
                        </div>
                        <!-- /.iconbox -->
                    </div>
                    <!-- /.header-module -->


                    <div class="header-module">
                        <a aria-label="Chat on WhatsApp" href="https://wa.me/9893844539"> <img
                                alt="Chat on WhatsApp" src="/images/WhatsAppButtonGreenSmall.svg" />

                    </div>
                    <!-- /.col -->
                </div>
                <div class="col text-right">
                    <div class="header-module">
                        <ul class="social-icon social-icon-md">

                            <li>
                                <a href="https://www.linkedin.com/company/bytelab-ai" target="_blank"><i
                                        class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/Bytelab_ai" target="_blank"><i
                                        class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/bytelab.ai/" target="_blank"><i
                                        class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.header-module -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.secondarybar-row -->
        </div>
        <!-- /.secondarybar -->
    </div>
    <!-- /.secondarybar-container -->
</div>
<!-- /.secondarybar-wrap -->