<footer id="footer-3" class="pt-100 footer">
    <div class="container">
        <!-- FOOTER CONTENT -->
        <div class="row">
            <!-- FOOTER LOGO -->
            <div class="col-xl-4">
                <div class="footer-info">
                    <img
                        class="footer-logo"
                        src="/images/logo/blue-black/blue.svg"
                        alt="footer-logo"
                    />
                    <img class="img-fluid pt-4" src="/images/microsoft/MS_Startups_Celebration_Badge_Dark.png" alt="video-preview" style="max-width:16rem;">

                </div>

            </div>

            <!-- FOOTER LINKS -->
            <div class="col-sm-4 col-md-3 col-xl-2">
                <div class="footer-links fl-1">
                    <!-- Title -->
                    <h6 class="s-17 w-700">Company</h6>

                    <!-- Links -->
                    <ul class="foo-links clearfix">
                        <li>
                            <p><a href="/about">About Us</a></p>
                        </li>

                        <li>
                            <p><a href="/contacts">Contact Us</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END FOOTER LINKS -->

            <!-- FOOTER LINKS -->
            <div class="col-sm-4 col-md-3 col-xl-2">
                <div class="footer-links fl-2">
                    <!-- Title -->

                    <h6 class="s-17 w-700">Useful Links</h6>

                    <!-- Links -->
                    <ul class="foo-links clearfix">
                        <li>
                            <p><a href="/services">Services</a></p>
                        </li>
                        <li>
                            <p><a href="/blog">Our Blog</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END FOOTER LINKS -->

            <!-- FOOTER LINKS -->
            <div class="col-sm-4 col-md-3 col-xl-2">
                <div class="footer-links fl-3">
                    <!-- Title -->
                    <h6 class="s-17 w-700">Legal</h6>

                    <!-- Links -->
                    <ul class="foo-links clearfix">
                        <li>
                            <p><a href="/terms">Terms & Conditions</a></p>
                        </li>
                        <li>
                            <p><a href="/privacy">Privacy Policy</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END FOOTER LINKS -->

            <!-- FOOTER LINKS -->
            <div class="col-sm-6 col-md-2">
                <div class="footer-links fl-4">
                    <!-- Title -->
                    <h6 class="s-17 w-700">Connect With Us</h6>

                    <!-- Mail Link -->
                    <p class="footer-mail-link ico-25">
                        <a target="_blank" href="mailto:info@bytelab.ai"
                            >info@bytelab.ai</a
                        >
                    </p>

                    <!-- Social Links -->
                    <ul class="footer-socials ico-25 text-center clearfix">
                        <li>
                            <a
                                href="https://twitter.com/Bytelab_ai"
                                target="_blank"
                                ><i
                                    class="fa-brands fa-twitter"
                                    style="color: #0171e3;"></i></a
                            >
                        </li>
                        <li>
                            <a
                                href="https://www.linkedin.com/company/bytelab-ai"
                                target="_blank"
                                ><i
                                    class="fa-brands fa-linkedin"
                                    style="color: #0965c2;"></i></a
                            >
                        </li>
                        <li>
                            <a
                                href="https://www.instagram.com/bytelab.ai/"
                                target="_blank"
                                ><i
                                    class="fa-brands fa-instagram"
                                    style="color: #d116df;"></i></a
                            >
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END FOOTER LINKS -->
        </div>
        <!-- END FOOTER CONTENT -->

        <hr />
        <!-- FOOTER DIVIDER LINE -->

        <div class="bottom-footer">
            <div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">
                <!-- FOOTER COPYRIGHT -->
                <div class="col">
                    <div class="footer-copyright">
                        <p class="p-sm">
                            © 2023 Bytelab. <span>All Rights Reserved</span>
                        </p>
                    </div>
                </div>

                <!-- FOOTER SECONDARY LINK -->
                <div class="col">
                    <div class="bottom-secondary-link ico-15 text-end">
                        <p class="p-sm">
                            <a target="_blank" href="https://storyset.com">
                                Illustrations by Storyset</a
                            >
                        </p>
                    </div>
                </div>
            </div>
            <!-- End row -->
        </div>

        <!-- END BOTTOM FOOTER -->
    </div>
    <!-- End container -->
</footer>
