<footer class="main-footer" data-sticky-footer="false">
    <section>
        <div class="container">
            <div class="row d-flex flex-wrap">
                <div class="lqd-column col-md-6 col-sm-6">
                    <span
                        class="navbar-brand-inner  font-size-22 text-uppercase ltr-sp-1 text-primary lqd-unit-animation-done">
                        ByteLab,
                    </span>
                    <p class="mt-20">
                        established in 2023,It is a Bhopal-based enterprise. We enable
                        migration from traditional, paper-based practices to modern, digital workflows through
                        the strategic application of advanced technologies such as Artificial Intelligence and
                        Machine Learning. We help our clients succeed by creating
                        digital experiences.
                    </p>

                    <ul class="social-icon social-icon-lg">
                        <li>
                            <a href="https://www.linkedin.com/company/bytelab-ai" target="_blank"><i
                                    class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Bytelab_ai" target="_blank"><i
                                    class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/bytelab.ai/" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- /.col-md-3 -->

                <!-- <div class="lqd-column col-md-4 col-sm-6">
        <h3
          class="widget-title mb-30 text-white font-size-15 text-uppercase ltr-sp-2"
        >
          Useful Links
        </h3>
        <ul class="lqd-custom-menu reset-ul font-size-14 lh-2">
          <li class="mb-1"><a href="#" target="_blank">Pricing</a></li>
          <li class="mb-1">
            <a href="#" target="_blank">Content Management</a>
          </li>
          <li class="mb-1"><a href="#" target="_blank">Tracking</a></li>
          <li class="mb-1">
            <a href="#" target="_blank">Report a Bug</a>
          </li>
          <li class="mb-1">
            <a href="#" target="_blank">Customization</a>
          </li>
          <li class="mb-1">
            <a href="#" target="_blank">Terms of Services</a>
          </li>
        </ul>
      </div> -->
                <!-- /.col-md-3 -->

                <div class="lqd-column col-md-6 col-sm-6" id="contact">
                    <h3 class="widget-title mb-30 text-white font-size-15 text-uppercase ltr-sp-2">
                        Contact Us
                    </h3>
                    <p> Please leave a message or send us an email, and we will get back to you.</p>
                    <div class="header-module">
                        <a aria-label="Chat on WhatsApp" href="https://wa.me/9893844539"> <img
                                alt="Chat on WhatsApp" src="/images/WhatsAppButtonGreenSmall.svg" />

                    </div>
                    <br>
                    <br>
                    <p>
                        Email: info@bytelab.ai
                        <br />

                        Address: ByteLab,
                        G-Star, Sagar Royal Villas, near Ashima Mall, Bhopal, Madhya Pradesh 462026

                        <br />
                        Phone: +91-989-384-4539, +91-989-337-0027
                    </p>
                </div>
                <!-- /.col-md-3 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <section class="pt-35 pb-35 mt-70">
        <div class="container bt-fade-white-01 pt-35 pb-0">
            <div class="row">
                <div class="lqd-column col-md-6">
                    <ul class="lqd-custom-menu reset-ul inline-nav">
                        <li><a href="#about">About us</a></li>
                        <li><a href="#wwd">Who We do? </a></li>
                        <li><a href="#wcs">Why choose us? </a></li>
                        <li><a href="#services">Services</a></li>


                    </ul>
                </div>
                <!-- /.col-md-6 -->

                <div class="lqd-column col-md-6 text-md-right">
                    <p class="my-0 font-size-15 text-fade-white-08">
                        ByteLab © Copyright 2023.
                    </p>
                </div>
                <!-- /.col-md-6 text-md-right -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
</footer>
<!-- /.main-footer -->