<header id="header" class="tra-menu navbar-dark white-scroll">
    <div class="header-wrapper">
        <!-- MOBILE HEADER -->
        <div class="wsmobileheader clearfix">
            <span class="smllogo"><img src="images/logo/blue-black/blue.png" alt="mobile-logo" /></span>
            <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
        </div>

        <!-- NAVIGATION MENU -->
        <div class="wsmainfull menu clearfix">
            <div class="wsmainwp clearfix">
                <!-- HEADER BLACK LOGO -->
                <div class="desktoplogo">
                    <a href="#hero-9" class="logo-black"><img src="images/logo/blue-black/blue.png" alt="logo" /></a>
                </div>

                <!-- HEADER WHITE LOGO -->
                <div class="desktoplogo">
                    <a href="#hero-9" class="logo-white"><img src="images/logo/blue-black/blue.png" alt="logo" /></a>
                </div>

                <!-- MAIN MENU -->
                <nav class="wsmenu clearfix">
                    <ul class="wsmenu-list nav-theme">
                        <!-- DROPDOWN SUB MENU -->
                        

                        <!-- SIMPLE NAVIGATION LINK -->
                        <li class="nl-simple" aria-haspopup="true">
                            <a href="index.html" class="h-link">Home</a>
                        </li>
                        <li class="nl-simple" aria-haspopup="true">
                            <a href="about.html" class="h-link">About</a>
                        </li>
                        <li class="nl-simple" aria-haspopup="true">
                            <a href="features.html" class="h-link">Services</a>
                        </li>
                    
                        <li class="nl-simple" aria-haspopup="true">
                            <a href="blog-listing.html" class="h-link">Blog</a>
                        </li>
                        <li class="nl-simple" aria-haspopup="true">
                            <a href="faqs.html" class="h-link">FAQs</a>
                        </li>
                        <li class="nl-simple" aria-haspopup="true">
                            <a href="contacts.html" class="h-link">Contact Us</a>
                        </li>
                    </ul>
                </nav>
                <!-- END MAIN MENU -->
            </div>
        </div>
        <!-- END NAVIGATION MENU -->
    </div>
    <!-- End header-wrapper -->
</header>