<div class="mainbar-wrap">
    <div class="container mainbar-container">
        <div class="mainbar">
            <div class="row mainbar-row align-items-lg-stretch">
                <div class="col">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" rel="home">
                            <span
                                class="navbar-brand-inner  font-size-22 text-uppercase ltr-sp-1 text-primary lqd-unit-animation-done">
                                ByteLab
                            </span>
                        </a>
                        <button type="button" class="navbar-toggle collapsed nav-trigger style-mobile"
                            data-toggle="collapse" data-target="#main-header-collapse" aria-expanded="false"
                            data-changeclassnames='{ "html": "mobile-nav-activated overflow-hidden" }'>
                            <span class="sr-only">Toggle navigation</span>
                            <span class="bars">
                                <span class="bar"></span>
                                <span class="bar"></span>
                                <span class="bar"></span>
                            </span>
                        </button>
                    </div>
                    <!-- /.navbar-header -->
                </div>
                <!-- /.col -->

                <div class="col text-right">
                    <div class="collapse navbar-collapse" id="main-header-collapse" aria-expanded="false"
                        role="tablist">
                        <ul id="primary-nav"
                            class="main-nav ld_header_menu_5c51ac47950e6 nav align-items-lg-stretch justify-content-lg-end"
                            data-submenu-options='{ "toggleType": "fade", "handler": "mouse-in-out" }'>
                            <li>
                                <a href="#">
                                    <span class="link-icon"></span>
                                    <span class="link-txt">
                                        <span class="link-ext"></span>
                                        <span class="txt">Home</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#about">
                                    <span class="link-icon"></span>
                                    <span class="link-txt">
                                        <span class="link-ext"></span>
                                        <span class="txt">About</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#services">
                                    <span class="link-icon"></span>
                                    <span class="link-txt">
                                        <span class="link-ext"></span>
                                        <span class="txt">Services</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#wcs">
                                    <span class="link-icon"></span>
                                    <span class="link-txt">
                                        <span class="link-ext"></span>
                                        <span class="txt">Why choose us?</span>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#contact">
                                    <span class="link-icon"></span>
                                    <span class="link-txt">
                                        <span class="link-ext"></span>
                                        <span class="txt">Contact</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.collapse -->

                    <div class="header-module">
                        <!-- <a href="#" target="_blank" class="btn btn-solid btn-sm semi-round border-thin fresco px-1 font-size-12 lh-15 font-weight-bold text-uppercase ltr-sp-1 round">
                            <span>
                                <span class="btn-txt"></span>
                            </span>
                        </a>
                         -->
                    </div>
                    <!-- /.header-module -->


                    <!-- /.header-module -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.maonbar-row -->
        </div>
        <!-- /.mainbar -->
    </div>
    <!-- /.mainbar-container -->
</div>
<!-- /.mainbar-wrap -->