---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QNBRGFSMC4"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-QNBRGFSMC44");
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="We specialize in digitizing documents and centralizing them to enable easy access and global search. Your documents' security is of utmost important to us. We focus on quality and using latest technologies like AI to convert your paper workflows into digital ones."
    />
    <meta charset="UTF-8" />
    <meta
      property="og:title"
      content="ByteLab | Digitize and centralize documents"
    />
    <meta property="og:type" content="website" />
    <!-- <meta property="og:image" content="/static/website-social-card-44070c4a901df708aa1563ac4bbe595a.jpg" /> -->
    <meta property="og:url" content="https://bytelab.ai" />
    <meta property="twitter:card" content="summary_large_image" />
    <!-- <meta property="twitter:image" content="https://res.cloudinary.com/fay/image/upload/w_1280,h_640,c_fill,q_auto,f_auto/w_860,c_fit,co_rgb:232129,g_west,x_80,y_-60,l_text:Source%20Sans%20Pro_70_line_spacing_-10_semibold:Anyone%20Can%20Map!%20Inspiration%20and%20an%20introduction%20to%20the%20world%20of%20mapping/blog-social-card-1.1" /> -->
    <meta property="twitter:site" content="@Bytelab_ai" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <!-- GOOGLE FONTS -->
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <!-- BOOTSTRAP CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <!-- FONT ICONS -->
    <link href="/css/flaticon.css" rel="stylesheet" />

    <!-- PLUGINS STYLESHEET -->
    <link href="/css/menu.css" rel="stylesheet" />
    <link
      id="effect"
      href="/css/dropdown-effects/fade-down.css"
      media="all"
      rel="stylesheet"
    />
    <link href="/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/css/owl.theme.default.min.css" rel="stylesheet" />
    <!-- ON SCROLL ANIMATION -->
    <link href="/css/animate.css" rel="stylesheet" />

    <!-- TEMPLATE CSS -->
    <link href="/css/blue-theme.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/fontawesome-6.4.0-web//css/all.css" />
    <!-- RESPONSIVE CSS -->
    <link href="css/responsive.css" rel="stylesheet" />

    <title>{title}</title>
  </head>
  <body>
    <div id="page" class="page font--jakarta">
      <Navbar />
      <slot />
      <Footer />
    </div>
    <!-- EXTERNAL SCRIPTS
		============================================= -->
    <script is:inline src="/js/jquery-3.7.0.min.js"></script>
    <script is:inline src="/js/bootstrap.min.js"></script>
    <script is:inline src="/js/modernizr.custom.js"></script>
    <script is:inline src="/js/jquery.easing.js"></script>
    <script is:inline src="/js/jquery.appear.js"></script>
    <script is:inline src="/js/menu.js"></script>
    <script is:inline src="/js/owl.carousel.min.js"></script>
    <script is:inline src="/js/wow.js"></script>

    <!-- Custom Script -->
    <script is:inline src="/js/custom.js"></script>
  </body>
</html>
